@font-face {
    font-family: "futura";   
    src: local("Futura Bold font"),
      url("./fonts/Futura Bold font.ttf") format("truetype");
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 420px;
}